body {
  background-color: bisque;
  font-family: "trebuchet ms", helvetica, sans-serif;
}

input[type="button"],
input[type="submit"],
button {
  color: #050;
  font: bold 84% "trebuchet ms", helvetica, sans-serif;
  background-color: #fed;
  border: 1px solid;
  border-color: #696 #363 #363 #696;
}

.hidden-element {
  display: none;
}

#story-form-container {
  height: 25em;
}

#project-form-container {
  height: 15em;
}

.create-form,
.entity-container {
  display: flex;
  flex-direction: column;
}

.create-form > * {
  margin-top: 0.5em;
}

.tasks-container > div {
  padding-bottom: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.entity-container > div {
  padding-bottom: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: #050 2px solid;
  border-radius: 15px;
  background-color: #cea89e;
  align-items: center;
  text-align: center;
  font-size: 1.6em;
}

.entity-container-night > div {
  padding-bottom: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: #050 2px solid;
  border-radius: 15px;
  background-color: #702614;
  align-items: center;
  text-align: center;
  font-size: 1.6em;
}

#story-save-button,
.project-button,
.story-button {
  display: none;
}

.form-container label,
.form-container input {
  margin-bottom: 10px;
  width: max-content;
}

.marked button {
  display: inline-block;
  width: min-content;
}

.marked {
  color: brown;
}

.beingUpdated > input {
  width: 50px;
}

#tasks-grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto;
  background-color: #00559b;
  /* padding: 10px; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}

.single-task {
  border: 1px solid black;
  height: min-content * 1.5;
  margin-bottom: 15px;
}

.single-task > * {
  display: block;
}

#task-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#night-mode-container {
  position: absolute;
  top: 0;
  right: 0;
}

#modal-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#modal-content > * {
  display: block;
}

#close-modal-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
}

#login-form {
  width: max-content;
}
