#story-form-container,
#stories-h3,
#stories-container {
  display: none;
}

#form-container {
  height: 10em;
}

#projects-create-form,
#projects-container {
  display: flex;
  flex-direction: column;
}

#projects-container > div {
  padding-bottom: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.project-button {
  display: none;
}

#projects-create-form label,
#projects-create-form input {
  margin-bottom: 10px;
  width: max-content;
}

.marked button {
  display: inline-block;
  width: min-content;
}

.marked {
  color: brown;
}

.beingUpdated > input {
  width: 50px;
}
